body{
    background-color: lightgrey;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
}

/* defining the borders TODO app div contents */

.main{
    margin-left: 25%;
    height: auto;
    width: 50%;
    background-color: white;
}

/* styling the title todo app */

.title{
    text-align: center;
    color: black;
    font-weight: 100;
}

/* styling the labels of the form */

.headings{
    color: black;
    margin-left: 5px;
    font-weight: bold;
}

.desc{
    width:100%;
    padding-left: 8px;
    border: 0;
}

/* defining the line boundaries */

.line{
    width: 100%;
    border-bottom: 1px solid lightgray;
}

/* adding color to the button */

.add{
    background-color: lightgreen;
    
}
.size1{
    width: 40%;
    height: 20%;
}

.del{
    margin-left: 0;
    background-color: lightcoral;
}

/* arranging and styling the task list */

.task-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px ;
}
.task-elements{
    margin-right: 5px;
    font-size: large;
    font-weight: bold;
}

/* styling the right hand side category tag */

.cat-tag{
    height:30px;
    width:70px;
    background-color: lightcoral;
    margin-right: px;
    color: white;
}

/* defining size to the date */
.date{
    font-size: 13px;
    color: darkgray;
}
.rt-margin{
    margin-right: 2px;
}

/* arranging the buttons and category and due date content with the help of flex */

.arrange{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.arrange1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* defining the line between category and due date */
.line-right{
    height: 100%;
    border-right: 1px solid lightgray;
}


/* defining width of category and due date input boxes */

.cat{
    width: 90%;
    margin-left: 5px;
}

.cat1{
    margin-right: 5px;
}

/* .btn{
    height: 10%;
} */